# mailman-extra.cfg
[mailman]
# This address is the "site owner" address.  Certain messages which must be
# delivered to a human, but which can't be delivered to a list owner (e.g. a
# bounce from a list owner), will be sent to this address.  It should point to
# a human.
site_owner: {{ mailman_email }}

[logging.template]
format: %(asctime)s (%(process)d) %(message)s
datefmt: %Y-%m-%dT%H:%M:%S%z
